.layout{
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 1fr;
    grid-template-rows: 50px 1fr;
    gap: 20px 30px;
}
.header{
    background: #fff;
    padding: 5px 0 10px 10px;
    grid-column: 1/5;
    grid-area: "h";
}
.logo{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 126px;
    /* margin: 15px 0 15px 126px; */
    background: url('../../assets/logo') 50% no-repeat;
}
.sidebar{
    background: #fff;
    border-radius: 3px;
    grid-column: 2/3;
}
.main{
    background: #fff;
    border-radius: 3px;
    grid-column: 3/4;
}